.main {
  height: 200vh;
  position: relative;

  .card1,
  .card2 {
    position: absolute;
    top: 50%;
    left: 10%;
    width: 100px;
    height: 50vh;
  }

  .card1 {
    background-color: blue;
  }

  .card2 {
    background-color: green;
  }
}
